.playlists-options {
  position: relative;
  display: flex;
  width: 100%;
  padding-left: var(--sidebar-left-space);
  flex-direction: column;
  margin-bottom: 0.3rem;
}
.playlists-options > h2 {
  width: 100%;
  margin-bottom: 1.2rem;
  font-size: 0.75rem;
  font-weight: 900;
  letter-spacing: 1px;
  text-align: start;
}

.playlists-options > button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 0.6rem;

  font-weight: bold;
  color: var(--light-gray);
  background-color: var(--light-gray);
  transition: all 0.3s ease;
  border: 0;
  outline: 0;
}
.playlists-options > button > .icon-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
}
.playlists-options > button > .bg-gradient {
  background: rgb(85, 79, 194);
  background: linear-gradient(
    90deg,
    rgba(85, 79, 194, 1) 19%,
    rgba(107, 93, 195, 1) 46%,
    rgba(148, 140, 199, 1) 100%
  );
}
.playlists-options > button > span {
  display: flex;
  align-items: center;
  position: absolute;
  left: 32px;
  width: 100%;
  height: 100%;
  padding-left: 1rem;

  font-size: 0.85rem;
  letter-spacing: 0.5px;
  font-weight: 900;
  text-align: start;
  background-color: #000;
}
.playlists-options > button:hover {
  background-color: #fff;
  color: #fff;
}
