@import "../../scss/extends.scss";
@import "../../scss/variables.scss";

.main-container {
  @extend %custom-scrollbar;
  grid-area: main;
  position: relative;
  overflow-y: auto;
  background-color: #121212;
  margin-top: 0.1rem;
  margin-right: 0.1rem;
  padding-top: $header-height;
  padding-left: 2rem;
  padding-right: 1rem;
}
