@import "../../../scss/variables.scss";

.section-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 0.2rem;

  > .section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 0;
    margin-bottom: 0.3rem;

    .title-link {
      font-size: 1.35rem;
      font-weight: bold;
      color: #fff;
    }

    .aside-link {
      font-weight: bold;
      font-size: 0.8rem;
      letter-spacing: 1px;
      color: #9b9b9b;
    }

    .title-link:hover,
    .aside-link:hover {
      text-decoration: underline;
    }
  }

  > .section-cards {
    width: 100%;
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(auto-fill, minmax(164px, 1fr));
    grid-template-rows: auto 1fr;
  }
}
