header {
  position: sticky;
  z-index: 10;
  top: 0;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  padding-left: 1.75rem;
  padding-right: 1.2rem;
  color: #fff;
  background-color: #080808;
}

.btn-navigation {
  border: none;
  background-color: var(--dark-black);
  color: #fff;
  font-size: 1.5rem;
  height: 32px;
  width: 35px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
}
.btn-navigation + .btn-navigation {
  margin-left: 1rem;
}
.btn-navigation > img {
  width: 32px;
}
